<main class = "col-12">
  <div class = "container square">
    <div class = "row">
      <div class ="col-1 "></div>
      <div class = "col-10">
          <div class = "row justify-content-center">
              <div class = "col-3 element first">
                <i class="demo-icon icon-mail square-element"></i><!--<a [routerLink]="['/post']">POCZTA</a>-->
                <p class = "square-paragraph">Poczta</p>
              </div>
              <div class = "col-1"></div>
              <div class = "col-3 element  first">
                <i class="demo-icon icon-newspaper square-element"></i>
                <p class = "square-paragraph" >WYDARZENIA</p>
              </div>
              <div class = "col-1"></div>
              <div class = "col-3  element  first ">
                <i class="demo-icon icon-sun square-element"></i>
                <p class = "square-paragraph">POGODA</p>
              </div>
            </div>
          <div class = "row justify-content-center">
              <div class = "col-3 element  second">
                <i class="demo-icon icon-money square-element"></i>
                <p class = "square-paragraph">BIZNES</p>
                </div>
              <div class = "col-1"></div>
              <div class = "col-3 element  second">
                <i class="demo-icon icon-cab square-element"></i>
                <p class = "square-paragraph">MOTO</p>
                </div>
              <div class = "col-1"></div>
              <div class = "col-3 element  second">
                <i class="demo-icon icon-fast-food square-element"></i>
                <p class = "square-paragraph">GOTOWANIE</p>
              </div>
          </div>
          <div class = "row justify-content-center">
              <div class = "col-3 element  third">
                <i class="demo-icon icon-gamepad square-element"></i>
                <p class = "square-paragraph">GAMES</p>
              </div>
              <div class = "col-1"></div>
              <div class = " col-3 element  third">
                <i class="demo-icon icon-chat square-element"></i>
                <p class = "square-paragraph">WYWIADY</p>
              </div>
              <div class = "col-1"></div>
              <div class = "col-3 element  third">
                <i class="demo-icon icon-football square-element"></i>
                <p class = "square-paragraph">SPORT</p>
              </div>
          </div>
        </div>
      </div>
      <div class ="col-1"></div>
    <!--<router-outlet></router-outlet>-->
    </div>
</main>

