main{
  background-color: #303033;
  min-width: 330px;
  height: 85%;
  position: absolute;
  top: 56px;
  left: 0px;
}


.square{
  position: relative;
  padding-top: 8.75%;
  /*border: 3px solid green;*/
  color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 8.75%;
  .square-element{
    font-size: 20px;
    padding-bottom: 38.4px;
    position: relative;
    right: 12px;
    bottom: 10px;
    @media screen and (min-width: 576px) {
      font-size: 25px;
      right: 6px;
      bottom: 10px;
  }
    @media screen and (min-width: 768px) {
        font-size: 40px;
        right: 0px;
        bottom: 12px;
    }
  }
  .square-paragraph{
      font-size: 0.25rem;
      @media screen and (min-width: 768px) {
        font-size: 1rem;
        bottom: 12px;
    }

  }
}
.element{
  /*height: 215px;*/
  margin-bottom: 20px;
  height: 31%;
  //margin: 5px;
  /*border: 3px solid red;*/
}

.first{
  background-color: #4169E1;
  color: white;
}
.first a{
  text-decoration: none;
  color: white;
}
.second{
  background-color: #FF1493;
  color: white;
}
.third{
  background-color: #FFA500;
  color: white;
}
.first .demo-icon:hover,
.first .demo-icon:active{
  color: orange;
}
.second .demo-icon:hover,
.second .demo-icon:active{
  color: blue;
}
.third .demo-icon:hover,
.third .demo-icon:active{
  color: #FF1493;
}

