<div class = "main">
    <nav class = "together" id = "nav_bar">
      <p id = "for_new_email">Nowa wiadomość</p>
      <ul id = "for_list">
        <li class = "for_list_item">Odebrane</li>
        <li class = "for_list_item">Rachunki</li>
        <li class = "for_list_item">Oferty</li>
        <li class = "for_list_item">Wysłane</li>
        <li class = "for_list_item">Społeczności</li>
        <li class = "for_list_item">Kopie robocze</li>
        <li class = "for_list_item">Kosz</li>
        <li class = "for_list_item">Spam</li>
      </ul>
    </nav>
    <article class = "together" id = "article_bar">
      <p>................................</p>
      <p>................................</p>
      <p>................................</p>
      <p>................................</p>
      <p>................................</p>
    </article>
</div>

